====================
Temp/
Library/
Logs/
UserSettings/

====================
ExportedObj/
obj/
.vs/
.vscode/
.vsconfig
.idea/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

====================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

====================
Builds/
Assets/AddressableAssetsData/link.xml
Assets/AddressableAssetsData/link.xml.meta
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Bb]uild/
/[Ss]erver[Dd]ata/